/* Dispositivos m칩viles peque침os (320px - 480px) */
@media (min-width: 320px) and (max-width: 480px) {
    header {
        font-size: 1.1rem;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}

/* Dispositivos m칩viles medianos (481px - 640px) */
@media (min-width: 481px) and (max-width: 640px) {
    header {
        font-size: 1.3rem;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
/* Tablets y dispositivos m칩viles grandes (641px - 768px) */
@media (min-width: 641px) and (max-width: 768px) {
    header {
        font-size: 1.5rem;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Tablets grandes y laptops (769px - 1280px) */
@media (min-width: 769px) and (max-width: 1280px) {
    header {
        font-size: 1.7rem;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
